<ul>
    <li>产品名称：魔盒 胶原蛋白水晶眼贴膜</li>
    <li>上市时间:&nbsp;2010年</li>
    <li>月份:&nbsp;10月</li>
    <li>化妆品保质期:&nbsp;36个月</li>
    <li>是否为特殊用途化妆品:&nbsp;否</li>
    <li>限期使用日期范围:&nbsp;2018-05-01至2019-04-29</li>
    <li>功效:&nbsp;去黑眼圈&nbsp;去眼袋&nbsp;保湿&nbsp;补水&nbsp;去干纹</li>
    <li>规格类型:&nbsp;正常规格</li>
    <li>化妆品净含量:&nbsp;42g</li>
    <li>品牌:&nbsp;魔盒</li>
    <li>眼部护理单品:&nbsp;胶原蛋白水晶眼贴膜</li>
    <li>适合肤质:&nbsp;任何肤质</li>
    <li>批准文号:&nbsp;沪G妆网备字2016000795</li>
    <li><img src="http://upload.hongdoujiao.com:8721/xiaotao/thum//product/99acfd27929f48dcaa33a34b38c2d2ee.jpg"
             style="vertical-align: bottom; max-width: 100%;"><img
            src="http://upload.hongdoujiao.com:8721/xiaotao/thum//product/e9808f0ebd24494fbf7f55bca57847f7.jpg"
            style="vertical-align: bottom; max-width: 100%;"><img
            src="http://upload.hongdoujiao.com:8721/xiaotao/thum//product/40910ee11bc04ef581c44fd51fc48335.jpg"
            style="vertical-align: bottom; max-width: 100%;"><img
            src="http://upload.hongdoujiao.com:8721/xiaotao/thum//product/bb2f4b06884a430d89fd7b7d6e0ecd70.jpg"
            style="vertical-align: bottom; max-width: 100%;"><img
            src="http://upload.hongdoujiao.com:8721/xiaotao/thum//product/682b56d80cf24a7c91600018c17384f8.jpg"
            style="vertical-align: bottom; max-width: 100%;"><img
            src="http://upload.hongdoujiao.com:8721/xiaotao/thum//product/7dd6cecc3a4e4bacaf2f53f3c096585c.jpg"
            style="vertical-align: bottom; max-width: 100%;"><img
            src="http://upload.hongdoujiao.com:8721/xiaotao/thum//product/b5a69d9d9fe948b3ae70cddc0cb8ccfb.jpg"
            style="vertical-align: bottom; max-width: 100%;"><img
            src="http://upload.hongdoujiao.com:8721/xiaotao/thum//product/ca7c595f453c49cf88b71b48973d7d72.jpg"
            style="vertical-align: bottom; max-width: 100%;"><img
            src="http://upload.hongdoujiao.com:8721/xiaotao/thum//product/8d2cec128c89432ba061382cec38d66c.jpg"
            style="vertical-align: bottom; max-width: 100%;"><img
            src="http://upload.hongdoujiao.com:8721/xiaotao/thum//product/d631afae89c447768d58fb3718951a00.jpg"
            style="vertical-align: bottom; max-width: 100%;"><img
            src="http://upload.hongdoujiao.com:8721/xiaotao/thum//product/a8c68f9280af43708e84c09cf1474f9f.jpg"
            style="vertical-align: bottom; max-width: 100%;"><img
            src="http://upload.hongdoujiao.com:8721/xiaotao/thum//product/8cba1807125e40b7b8739a8aa2575e39.jpg"
            style="vertical-align: bottom; max-width: 100%;"><img
            src="http://upload.hongdoujiao.com:8721/xiaotao/thum//product/66ac13fffd4348e49ecca023e0505b54.jpg"
            style="vertical-align: bottom; max-width: 100%;"><img
            src="http://upload.hongdoujiao.com:8721/xiaotao/thum//product/13ef8c119e384ffa85fbf29dfe43cb3d.jpg"
            style="vertical-align: bottom; max-width: 100%;"><img
            src="http://upload.hongdoujiao.com:8721/xiaotao/thum//product/b1517935705946ca819c7d6957cc4028.jpg"
            style="vertical-align: bottom; max-width: 100%;"><img
            src="http://upload.hongdoujiao.com:8721/xiaotao/thum//product/c5f38ed0f6d948dbb78b4dab608d6aa8.jpg"
            style="vertical-align: bottom; max-width: 100%;"><img
            src="http://upload.hongdoujiao.com:8721/xiaotao/thum//product/77be9a41967b4427a81d122460b61b62.jpg"
            style="vertical-align: bottom; max-width: 100%;"><img
            src="http://upload.hongdoujiao.com:8721/xiaotao/thum//product/ea424435ca8e48649d1f836c8e19003a.jpg"
            style="vertical-align: bottom; max-width: 100%;"><img
            src="http://upload.hongdoujiao.com:8721/xiaotao/thum//product/5d29af8da1ed4407b928e3396772189a.jpg"
            style="vertical-align: bottom; max-width: 100%;"><img
            src="http://upload.hongdoujiao.com:8721/xiaotao/thum//product/a9430ed1c583407a8de759b6c4c68434.jpg"
            style="vertical-align: bottom; max-width: 100%;"><img
            src="http://upload.hongdoujiao.com:8721/xiaotao/thum//product/adb2ebb354eb4d5ba5b2231421cc29f7.jpg"
            style="vertical-align: bottom; max-width: 100%;"><img
            src="http://upload.hongdoujiao.com:8721/xiaotao/thum//product/ed208f2a08944aafa1b77b75d8da80ea.jpg"
            style="vertical-align: bottom; max-width: 100%;"><br></li>
</ul><p><br></p>